secrets.yaml
appdaemon.yaml

# file types
*.json
*.log
*.pyc
*.conf
*.db

# specific folders
.*
ssh
tts

deps/
# specific files
known_devices.yaml
!ssl.conf
!custom_components/swedish_recycling/*.json


tensorflow
