*
!*.yaml
!*.jpg
!*.md
!*.py
!*.dash
!automation
!extras
!python_scripts
!appdaemon
!appdaemon/apps
!appdaemon/dashboards
appdaemon/secrets.yaml
!packages
!packages/alarm
packages/alarm/secrets.yaml
!packages/environment
!packages/goodmorning
!packages/media
!packages/modes
!packages/notifications
!packages/presence
!packages/system
!www
!light
!custom_components
!custom_components/sensor
!.gitignore
secrets.yaml
known_devices.yaml


